numpy
nltk
tqdm
pandas
jieba
tensorflow
tensorboardX
cython
regex
matplotlib
pyyaml
sacremoses
editdistance
soundfile
sentencepiece
pyarrow
python_speech_features
torchaudio
sacrebleu==1.5.1
omegaconf==2.0.5
hydra-core==1.0.0
